numpy==1.19.2
imutils==0.5.4
matplotlib==3.3.4
scikit-image==0.18.1
scikit_learn==0.24.1
opencv-python==4.5.2.52
pytest-shutil==1.7.0
python-docx==0.8.10
tensorflow==2.5.0
unittest2==1.1.0
pandas==1.2.4
seaborn==0.11.1
tensorflow-hub==0.9.0 
tensorflowjs==3.6.0
libsvm==3.23.0.4
image-quality==1.2.7